<div class="wrapper">
  <label class="serverNameInput">Enter Server Name: </label>
  <input type="text" class="serverNameInput" (input)="onUpdateServerName($event)">
  <input type="text" class="serverNameInput" [(ngModel)]="serverName">
  <button [disabled]="!allowServerAdd" (click)="onServerCreate()">
    Add Server
  </button>
  <p *ngIf="serverCreated; else noServer">{{ serverCreateStatus }}</p>
  <ng-template #noServer>
    <p>No Server created yet!</p>
  </ng-template>
  <app-server></app-server>
  <app-server></app-server>
</div>