<div class="wraper">
  <label for="serverName" class="serverNameInput">Enter Server Name: </label>
  <input type="text" id="serverName" name="serverName" class="serverNameInput" (input)="onUpdateServerName($event)">
  <button [disabled]="!allowServerAdd" (click)="onServerCreate()">Add Server</button>
  <p>{{allowServerAdd}} (by String interpolation)</p>
  <p>{{ serverName }}</p>
  <p class="addServer" [innerHTML]="allowServerAdd"></p>
  <p>(property binding)</p>
  <p>{{ serverCreateStatus }}</p>
  <app-server></app-server>
  <app-server></app-server>
</div>