button {
  background-color: #1a76d2;
  border: 1px solid lch(70% 55 268 / 90%);
  border-radius: 5%;
  color: white;
  font-weight: 900;
  font-size: large;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  font-weight: 900;
  font-size: large;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 10px;
}
